*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'open sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    background-image: url(DJI_0745.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
#header{
    min-width: auto;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    padding: 0;
    margin: 0;
    border: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 200px;
    height: 70px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Makes items stack vertically */
    gap: 50px; /* Adds space between items */
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}